doctype
html
  head
    link(rel="stylesheet" href="style.css")
  body
    h1 BuddySystem Test Page
    .container.large
      p The rain in Spain falls mainly on the planes
    .container.normal
      p The rain in Spain falls mainly on the planes
    .container.small
      p The rain in Spain falls mainly on the planes

    script(src="buddysystem.js")
    script
      :coffeescript
        ps = document.querySelectorAll 'p'
        buddySystem ps
